/* ===================== */
/* || Global Override || */
/* ===================== */

.section-header, p {
  color: var(--color-text-off);
}

.sub-header {
  color: var(--color-sub-text-off);
}

/* ================ */
/* || About Grid || */
/* ================ */

.about-grid {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(13rem, auto) minmax(1rem, 1fr);
}

.header-group {
  grid-column: 1 / -1;
}

.about-details {
  grid-column: 2 / -2;
}

@media screen and (min-width: 768px) {
  .about-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .about-me {
    grid-area: 1 / 1 / span 2 / span 2;
  }
}

/* ============ */
/* || Header || */
/* ============ */

@media screen and (min-width: 768px) {
  .header-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  #jobTitle {
    margin-left: 8px;
  }
}

/* =============== */
/* || Skill Set || */
/* =============== */

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.list-item {
  list-style-type: none;
  width: 40%;
}

@media screen and (min-width: 425px) {
  .list-item {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .list-group {
    margin: 0 10px;
  }

  .list-item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .list-item {
    width: 33%;
  }
}

.list-text {
  margin: 0;
}

/* ========================= */
/* || Contact Information || */
/* ========================= */

.contact-information {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .contact-information {
    width: 100%;
  }
}

.contact-item {
  display: flex;
  align-items: center;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  color: var(--color-text-main);
  border-radius: 50vw;
  background-color: var(--color-secondary);
  cursor: pointer;
}

.contact-text {
  margin: 0;
}
