<div class="main-grid" id="about">
  <div class="about-grid">
    <div class="header-group">
      <h1 class="section-header">David Yeung</h1>
  
      <h2 class="sub-header" id="jobTitle">Full-Stack Developer</h2>
    </div>
  
    <div class="about-details">
      <p class="about-me">
        I was previously working at a company that built and maintained online menus for restaurants as a customer service 
        representative before moving onto a QA Lead. Some of my responsibilities included remoting into our client's terminals 
        and figuring out how their point of sales system worked before assisting the programming team with building out and 
        testing the online menu. Having a history in customer support and as a QA Lead has provided me with experience working 
        with people in a team, learning and setting up new programs, and troubleshooting different problems. I look forward to 
        having an opportunity to apply what I've learned into helping your company grow.
      </p>
  
      <div class="skill-set">
        <h4 class="section-header">Skill Set</h4>
  
        <ul class="list-group">
          <li class="list-item">
            <p class="list-text">&#11045; Angular</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; Node.js</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; Express</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; MongoDB</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; JavaScript</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; TypeScript</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; jQuery</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; HTML</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; CSS</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; Bootstrap</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; Materialize</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; GitHub</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; Photoshop</p>
          </li>
  
          <li class="list-item">
            <p class="list-text">&#11045; Illustrator</p>
          </li>
        </ul>
      </div>
  
      <div class="contact-information">
        <div class="contact-item" title="Resume">
          <i class="fas fa-file-alt circle-icon" (click)="onRedirect('https://docs.google.com/document/d/15aQiKxziN8ybOCR1wEX5hWayDmrT9-k__kcJWCF8XgA/edit?usp=sharing')"></i>
        </div>
  
        <div class="contact-item" title="Linked In">
          <i class="fab fa-linkedin circle-icon" (click)="onRedirect('https://www.linkedin.com/in/davidyeungcoding/')"></i>
        </div>
  
        <div class="contact-item" title="GitHub">
          <i class="fab fa-github-square circle-icon" (click)="onRedirect('https://github.com/davidyeungcoding')"></i>
        </div>
  
        <div class="contact-item" title="Copy Email Address">
          <i class="fas fa-envelope-square circle-icon" (click)="onCopyEmailAddress()"></i>
        </div>
      </div>
    </div>
  </div>
</div>
